<html>

<head>
    <title> {{ msg }} </title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <div id="welcome-container" class="centering-container">
        <h1 id="welcome-text"> {{ msg }} </h1>
    </div>
</body>

</html>
